@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body{
    margin: 0;
    background: rgb(43, 101, 226);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    font-size: 60px;
    text-shadow: 4px 4px 2px rgba(0, 255, 234, 0.5);
    letter-spacing: 3px;
}
.container{
    position: relative;
    background: rgb(1, 2, 56);
    padding: 20px;
    width: 80%;
    box-shadow: 0px 0px 15px 15px rgba(34, 218, 224, 0.473);
    border-radius: 10px;
    text-align: center;
}
@media (max-width:600px){
    .heading{
        font-size:50px;
    }
}
.joke{
    font-size: 30px;
    font-weight: 500;
    margin: 40px;
    color:  rgba(0, 255, 234);
}
.btn{
    
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 18px;
    background: rgba(15, 214, 228, 0.8);
    color: rgb(1, 2, 56);
    text-transform: capitalize;
    transition: all 300ms ease;
}
.btn:hover{
    background: rgba(15, 214, 228);
}

.spiner{
    position: relative;
}
.spiner:after{
    content: "";
    position: absolute;
    top: 5px;
    right: 100px;
    height: 20px;
    width: 20px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid rgb(2, 3, 37); /* Blue */
    border-radius: 50%;
    animation: spin 600ms linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
